<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <div>


      <br>



      <%  if ( username ) { %>
      <form method="POST" action="/logout">
        <div>
          <label>
            <p class="font-weight-bold">Logged In As: <%= username %></p>
          </label>
          <button type="submit" class="btn btn-primary" name="logout">Log out</button>
        </div>
      </form>
      <% } else { %>
      <form method="POST" action="/login">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>

          </div>
          <input type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1" name="username">
          <button type="submit" class="btn btn-primary">sign in</button>
        </div>
      </form>
      <%   }  %>






    </div>
  </nav>
</header>